.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: #B33951;
    display: flex;
    justify-content: center;
    font-family: raleway;
}

body {
    background-color: #FA824c;
    width: 80%;
    min-height: 90vh;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 100px;
}

my-header {
    display: contents;
}

my-footer {
    display: contents;
}

my-opener {
    display: contents;
}

header {
    border-bottom: #090909 4px solid;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#navigationButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#navigationButtons button {
    background: none;
    width: 175px;
    font-size: 18px;
    border-radius: 10px 10px 0 0;
    border-color: #090909 2px solid;
    border-bottom: none;
    padding: 10px;
    transition: border-color 0.15s linear;
}

#navigationButtons button:hover {
    border-color: #c43e59;
    color: #c43e59;
}

#contentButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contentButtons button {
    background: none;
    width: 300px;
    height: 100px;
    border: #B33951 4px solid;
    border-radius: 20px;
    font-size: 24px;
    box-shadow: 10px 10px 10px #090909;
}

#opener {
    background-color: #ea718a;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
}

#opener form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    row-gap: 15px;
    font-size: 42px;
}

#opener form label {
    display: flex;
    flex-direction: column;
}

#opener form input {
    font-size: 32px;
    font-family: "Raleway";
}

footer {
    border-bottom: #090909 4px solid;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0px;
}